<meta charset="utf-8">
<oda-combo-box id="box"></oda-combo-box>
<script type="module">
    import '/web/oda/oda.js';
    import './combo-box.js';
    box.items = [
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        {label: 'label 1'}, {label: 'label 2'}, {label: 'label 3'}, {label: 'label 4'}, {label: 'label 5'},
        ]
</script>