<meta charset="utf-8">
<body style="overflow: hidden">
<oda-tester>
    <oda-hexagon-layout id="hex" icon-size="30" allow-delete></oda-hexagon-layout>
</oda-tester>

</body>


<script type="module">
  import '/web/oda/oda.js';
  import '/web/oda/components/layouts/hexagon-layout/hexagon-layout.js';
  import '/web/oda/components/buttons/button/button.js';
  hex.data = [{x: 2, y: 3, is:'oda-icon', label: 'А это супер-пупер длинный заголовок', props:{
                  icon: 'odant:base', iconSize: 50,
              }},
            {x: 4, y: 3, is:'oda-button', label: 'Заголовок',  props:{
                  icon: 'odant:class', iconSize: 50,
              }}]


</script>