<script type="module">
  import '../../../oda.js';
  import '../../../tools/containers/containers.js';
  import './progress-panel.js';
</script>
<oda-progress-panel id="panel" icon-size="256" class="raised"></oda-progress-panel>
<script defer>
  const items = panel.items = [];
  let id = 0;
  let run = false;

  const update = () => {
    items.splice(0, items.length, ...globalThis.$requests.map(r => ({label: r.request.url})));
  }

  globalThis.addEventListener('fetch-start', (evt) => update());
  globalThis.addEventListener('fetch-end', (evt) => update());
  setInterval(()=>{
    for(const i of new Array(~~(Math.random() * 5))){
      fetch(`https://current.odant.org/api?config&prefix=true&deep=${~~(Math.random() * 100)}`)
    }
  }, 1000);
</script>