:root {
    --base-color: #e2e2e2;
    --dino-color: var(--base-color);
    --cloud-color: var(--base-color);
    --pterodactyl-color: var(--base-color);
    --horizon-color: var(--base-color);

    --dark-color: #121212 !important;
    --background-color: var(--dark-color);
    --dino-eyes-color: var(--dark-color);

    --header-color: honeydew !important;
    --header-background-color: grey;
    --cactus-color: grey;
    --dino-top: 314px;
    --dino-max-top: 20px;
}
/* 
body {
    margin: 0px;
} */

/* #wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--header-background-color);
} */

/* #game-space {
    height: 500px;
    width: 100%;
    top: 200px;
    left: 0px;
    position: absolute;
    background-color: var(--background-color) !important;
    overflow: hidden;
} */

/* h1 {
    text-align: center;
    color: var(--header-color);
    margin-bottom: 0px;
    font-family: "Comic Sans MS";
}

#game-over {
    position: relative;
    top: 35%;
}

#score {
    font-size: 50px;
    margin-top: 0px;
} */

/* oda-dino {
    position: absolute;
    left: 72px;
    top: var(--dino-top);
    z-index: 300;
} */

/* oda-cloud {
    position: absolute;
    animation-name: cloud-move;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    z-index: 100;
}

@keyframes cloud-move {
    from {
        left: 100%;
    }
    to {
        left: -150px;
    }
} */

/* oda-cactus {
    position: absolute;
    top: 301px;
    animation-name: cactus-move;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    z-index: 200;
}

@keyframes cactus-move {
    from {
        left: 100%;
    }
    to {
        left: -136px;
    }
} */

/* oda-pterodactyl {
    position: absolute;
    animation-name: pterodactyl-move;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    z-index: 200;
}

@keyframes pterodactyl-move {
    from {
        left: 100%;
    }
    to {
        left: -136px;
    }
} */

/* .horizon {
    position: absolute;
    top: 435px;
    width: 100%;
    height: 3px;
    background-color: var(--horizon-color);
} */

/* .dino-jump {
    animation-name: dino-jump;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes dino-jump {
    from {
        top: var(--dino-top);
        animation-timing-function: ease-out;
    }
    50% {
        top: var(--dino-max-top);
        animation-timing-function: ease-in;
    }
    to {
        top: var(--dino-top);
        animation-timing-function: ease-in;
    }
} */