<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="../../../oda.js"></script>
<script type="module" src="./table.js"></script>
 <oda-tester>
    <oda-table id="table" allow-drag allow-drop allow-check="double" allow-sort lazy col-lines row-lines show-footer show-group-footer show-header allow-focus allow-selection="level" allow-sort group-expanding-mode="first"></oda-table>
 </oda-tester>
<script type="module">
    table.columns = [
        { fix: 'left', width: 32 },
        { name: 'right', fix: 'right' },
        { name: 'col1', treeMode: true},
        { name: 'number', summary: 'sum' },
        { name: 'left', fix: 'left' },
        {
            name: 'col2', items: [
                {
                    name: 'col21', items: [
                        { name: 'col211' },
                        { name: 'col212' },
                        { name: 'col213' },
                        {
                            name: 'col215', items: [
                                { name: 'col211' },
                                { name: 'col212' },
                                { name: 'col213' },
                                { name: 'col215', }
                            ]
                        }
                    ]
                }, { name: "col22" }
            ]
        }
    ];
    table.dataSet = [
        { col1: "1 строка", col2: "строка 1, столбец 2", $drag: true, id: 1234, number: 3748.578, col21: 'вложенное', col22: 'второе вложенное' },
        { col1: "X строка", col2: "строка 1, столбец 2", drag: true, id: 1234, number: 3748.578, col21: 'вложенное', col22: 'второе вложенное' },
        {
            col1: "2 строка", number: '234234.234', col215: 'col215', $expanded: true, disabled: true,
            items: [
                { col1: "2.1 строка", drag: true, col21: 'вложенное', hideExpander: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка", col212: 'col212' },
                        {
                            col1: "2.2.3 строка",
                            items: [
                                { col1: "2.2.3.1 строка" },
                                { col1: "2.2.3.2 строка", col212: 'col212' },
                                { col1: "2.2.3.3 строка" },
                                { col1: "2.2.3.4 строка" },
                                { col1: "2.2.3.5 строка", col21: 'вложенное' },
                                { col1: "2.2.3.6 строка" },
                                { col1: "2.2.3.7 строка", col22: 'второе вложенное' },
                                { col1: "2.2.3.8 строка" },
                                { col1: "2.2.3.9 строка" },
                                { col1: "2.2.3.10 строка", col22: 'второе вложенное' }
                            ]
                        },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка", col21: 'вложенное' },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка", col22: 'второе вложенное' },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка", col22: 'второе вложенное' }
                    ]
                },
                { col1: "2.3 строка", col22: 'второе вложенное' },
                { col1: "2.4 строка", col212: 'col212' },
                { col1: "2.5 строка", col21: 'вложенное' }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка", col22: 'второе вложенное' },
                { col1: "3.3 строка", col21: 'вложенное' },
                { col1: "3.4 строка", col212: 'col212' },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка", col212: 'col212' },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234, col212: 'col212' },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка",
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        { col1: "5.2.2 строка" },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "1 строка", drag: true, id: 1234 },
        {
            col1: "2 строка",
            items: [
                { col1: "2.1 строка", drag: true },
                {
                    col1: "2.2 строка", drop: true,
                    items: [
                        { col1: "2.2.1 строка" },
                        { col1: "2.2.2 строка" },
                        { col1: "2.2.3 строка" },
                        { col1: "2.2.4 строка" },
                        { col1: "2.2.5 строка" },
                        { col1: "2.2.6 строка" },
                        { col1: "2.2.7 строка" },
                        { col1: "2.2.8 строка" },
                        { col1: "2.2.9 строка" },
                        { col1: "2.2.10 строка" }
                    ]
                },
                { col1: "2.3 строка" },
                { col1: "2.4 строка" },
                { col1: "2.5 строка" }
            ]
        },
        {
            col1: "3 строка", number: '234.234',
            items: [
                { col1: "3.1 строка" },
                { col1: "3.2 строка" },
                { col1: "3.3 строка" },
                { col1: "3.4 строка" },
                { col1: "3.5 строка" },
                { col1: "3.6 строка" },
                { col1: "3.7 строка" },
                { col1: "3.8 строка" },
                { col1: "3.9 строка" },
                { col1: "3.10 строка" }
            ]
        },
        { col1: "4 строка", parent: 1234 },
        {
            col1: "5 строка",
            items: [
                { col1: "5.1 строка" },
                {
                    col1: "5.2 строка",
                    items: [
                        { col1: "5.2.1 строка" },
                        {
                            col1: "5.2.2 строка",
                            items: [
                                { col1: "5.2.2.1 строка" },
                                {
                                    col1: "5.2.2.2 строка",
                                    items: [
                                        { col1: "5.2.2.2.1 строка" },
                                        {
                                            col1: "5.2.2.2.2 строка",
                                            items: [
                                                { col1: "5.2.2.2.2.1 строка" },
                                                { col1: "5.2.2.2.2.2 строка" },
                                                { col1: "5.2.2.2.2.3 строка" },
                                                { col1: "5.2.2.2.2.4 строка" },
                                                { col1: "5.2.2.2.2.5 строка" },
                                                { col1: "5.2.2.2.2.6 строка" },
                                                { col1: "5.2.2.2.2.7 строка" },
                                                { col1: "5.2.2.2.2.8 строка" },
                                                { col1: "5.2.2.2.2.9 строка" },
                                                { col1: "5.2.2.2.2.10 строка" },

                                                { col1: "5.2.2.2.2.1 строка" },
                                                { col1: "5.2.2.2.2.2 строка" },
                                                { col1: "5.2.2.2.2.3 строка" },
                                                { col1: "5.2.2.2.2.4 строка" },
                                                { col1: "5.2.2.2.2.5 строка" },
                                                { col1: "5.2.2.2.2.6 строка" },
                                                { col1: "5.2.2.2.2.7 строка" },
                                                { col1: "5.2.2.2.2.8 строка" },
                                                { col1: "5.2.2.2.2.9 строка" },
                                                { col1: "5.2.2.2.2.10 строка" },

                                                { col1: "5.2.2.2.2.1 строка" },
                                                { col1: "5.2.2.2.2.2 строка" },
                                                { col1: "5.2.2.2.2.3 строка" },
                                                { col1: "5.2.2.2.2.4 строка" },
                                                { col1: "5.2.2.2.2.5 строка" },
                                                { col1: "5.2.2.2.2.6 строка" },
                                                { col1: "5.2.2.2.2.7 строка" },
                                                { col1: "5.2.2.2.2.8 строка" },
                                                { col1: "5.2.2.2.2.9 строка" },
                                                { col1: "5.2.2.2.2.10 строка" },

                                                { col1: "5.2.2.2.2.1 строка" },
                                                { col1: "5.2.2.2.2.2 строка" },
                                                { col1: "5.2.2.2.2.3 строка" },
                                                { col1: "5.2.2.2.2.4 строка" },
                                                { col1: "5.2.2.2.2.5 строка" },
                                                { col1: "5.2.2.2.2.6 строка" },
                                                { col1: "5.2.2.2.2.7 строка" },
                                                { col1: "5.2.2.2.2.8 строка" },
                                                { col1: "5.2.2.2.2.9 строка" },
                                                { col1: "5.2.2.2.2.10 строка" },

                                                { col1: "5.2.2.2.2.1 строка" },
                                                { col1: "5.2.2.2.2.2 строка" },
                                                { col1: "5.2.2.2.2.3 строка" },
                                                { col1: "5.2.2.2.2.4 строка" },
                                                { col1: "5.2.2.2.2.5 строка" },
                                                { col1: "5.2.2.2.2.6 строка" },
                                                { col1: "5.2.2.2.2.7 строка" },
                                                { col1: "5.2.2.2.2.8 строка" },
                                                { col1: "5.2.2.2.2.9 строка" },
                                                { col1: "5.2.2.2.2.10 строка" }
                                            ]
                                        },
                                        { col1: "5.2.2.2.3 строка" },
                                        { col1: "5.2.2.2.4 строка" },
                                        { col1: "5.2.2.2.5 строка" },
                                        { col1: "5.2.2.2.6 строка" },
                                        { col1: "5.2.2.2.7 строка" },
                                        { col1: "5.2.2.2.8 строка" },
                                        { col1: "5.2.2.2.9 строка" },
                                        { col1: "5.2.2.2.10 строка" }
                                    ]
                                },
                                { col1: "5.2.2.3 строка" },
                                { col1: "5.2.2.4 строка" },
                                { col1: "5.2.2.5 строка" },
                                { col1: "5.2.2.6 строка" },
                                { col1: "5.2.2.7 строка" },
                                { col1: "5.2.2.8 строка" },
                                { col1: "5.2.2.9 строка" },
                                { col1: "5.2.2.10 строка" }
                            ]
                        },
                        { col1: "5.2.3 строка" },
                        { col1: "5.2.4 строка" },
                        { col1: "5.2.5 строка" },
                        { col1: "5.2.6 строка" },
                        { col1: "5.2.7 строка" },
                        { col1: "5.2.8 строка" },
                        { col1: "5.2.9 строка" },
                        { col1: "5.2.10 строка" }
                    ]
                },
                { col1: "5.3 строка" },
                { col1: "5.4 строка" },
                { col1: "5.5 строка" },
                { col1: "5.6 строка" },
                { col1: "5.7 строка" },
                { col1: "5.8 строка" },
                { col1: "5.9 строка" },
                { col1: "5.10 строка" }
            ]
        },
        { col1: "6 строка" },
        {
            col1: "7 строка",
            items: [
                { col1: 'новая ветка' }
            ]
        },
        { col1: "8 строка" },
        { col1: "9 строка" },
        { col1: "10 строка", drop: true },
        { col1: "строка 5-я снизу" },
        { col1: "строка 4-я снизу" },
        { col1: "строка 3-я снизу" },
        { col1: "строка 2-я снизу" },
        {
            col1: "последняя строка",
            drop: true,
            items: [
                { col1: "п.1" },
                { col1: "п.2" },
                {
                    col1: "п.3",
                    items: [
                        { col1: "п.3.1" },
                        {
                            col1: "п.3.2",
                            items: [
                                { col1: "п.3.2.1" },
                                {
                                    col1: "п.3.2.2",
                                    items: [
                                        { col1: "п.3.2.2.1" },
                                        {
                                            col1: "п.3.2.2.2",
                                            items: [
                                                { col1: "п.3.2.2.2.1" },
                                                {
                                                    col1: "п.3.2.2.2.2",
                                                    items: [
                                                        { col1: "п.3.2.2.2.2.1 " },
                                                        { col1: "п.3.2.2.2.2.2 " },
                                                        { col1: "п.3.2.2.2.2.3 " },
                                                        { col1: "п.3.2.2.2.2.4 " },
                                                        { col1: "п.3.2.2.2.2.5 " },
                                                        { col1: "п.3.2.2.2.2.6 " },
                                                        { col1: "п.3.2.2.2.2.7 " },
                                                        { col1: "п.3.2.2.2.2.8 " },
                                                        { col1: "п.3.2.2.2.2.9 " },
                                                        { col1: "п.3.2.2.2.2.10" },

                                                        { col1: "п.3.2.2.2.2.11 " },
                                                        { col1: "п.3.2.2.2.2.12 " },
                                                        { col1: "п.3.2.2.2.2.13 " },
                                                        { col1: "п.3.2.2.2.2.14 " },
                                                        { col1: "п.3.2.2.2.2.15 " },
                                                        { col1: "п.3.2.2.2.2.16 " },
                                                        { col1: "п.3.2.2.2.2.17 " },
                                                        { col1: "п.3.2.2.2.2.18 " },
                                                        { col1: "п.3.2.2.2.2.19 " },
                                                        { col1: "п.3.2.2.2.2.20" },

                                                        { col1: "п.2.1.2.2.2.2.21 " },
                                                        { col1: "п.2.1.2.2.2.2.22 " },
                                                        { col1: "п.2.1.2.2.2.2.23 " },
                                                        { col1: "п.2.1.2.2.2.2.24 " },
                                                        { col1: "п.2.1.2.2.2.2.25 " },
                                                        { col1: "п.2.1.2.2.2.2.26 " },
                                                        { col1: "п.2.1.2.2.2.2.27 " },
                                                        { col1: "п.2.1.2.2.2.2.28 " },
                                                        { col1: "п.2.1.2.2.2.2.29 " },
                                                        { col1: "п.2.1.2.2.2.2.30" },

                                                        { col1: "п.3.2.2.2.2.31 " },
                                                        { col1: "п.3.2.2.2.2.32 " },
                                                        { col1: "п.3.2.2.2.2.33 " },
                                                        { col1: "п.3.2.2.2.2.34 " },
                                                        { col1: "п.3.2.2.2.2.35 " },
                                                        { col1: "п.3.2.2.2.2.36 " },
                                                        { col1: "п.3.2.2.2.2.37 " },
                                                        { col1: "п.3.2.2.2.2.38 " },
                                                        { col1: "п.3.2.2.2.2.39 " },
                                                        { col1: "п.3.2.2.2.2.40" },

                                                        { col1: "п.3.2.2.2.2.41 " },
                                                        { col1: "п.3.2.2.2.2.42 " },
                                                        { col1: "п.3.2.2.2.2.43 " },
                                                        { col1: "п.3.2.2.2.2.44 " },
                                                        { col1: "п.3.2.2.2.2.45 " },
                                                        { col1: "п.3.2.2.2.2.46 " },
                                                        { col1: "п.3.2.2.2.2.47 " },
                                                        { col1: "2nd before end: п.3.2.2.2.2.48 " },
                                                        { col1: "1st before end: п.3.2.2.2.2.49 " },
                                                        { col1: "end:п.3.2.2.2.2.50" },
                                                    ]
                                                },
                                            ]
                                        },
                                    ]
                                },
                            ]
                        },
                    ]
                },
            ]
        }
    ];
</script>