<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/web/oda/oda.js" type="module"></script>
<script type="module" src="./radio-group.js"></script>
<!-- <oda-tester> -->
    <oda-radio-group id="radiogroup"></oda-radio-group>
<!-- </oda-tester> -->
<script type="module">
    radiogroup.items = [{
        label: 'first',
        checked: false
    },
    {
        label: 'second',
        checked: false
    },
    {
        label: 'third',
        checked: true
    }];
</script>