
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="http://localhost:8080/web-apps/apps/api/documents/api.js"></script>
<div style="height: 100%; width: 100%; position: relative;" id="placeholder"></div>
<!--    </div>-->

<script>
    window.docEditor = new DocsAPI.DocEditor("placeholder",
        {
            "document": {
                "fileType": "docx",
                "url": "https://odajs.org/components/editors/onlyoffice-editor/demo/demo.docx"
            },
            "documentType": "word",
            // "type": "embedded",
            "editorConfig": {
                // "mode": 'view',
            }
        }
    )
</script>
