body, oda-site-test {min-height: 100%;}
#flogo {width: 20%;}

oda-site-test {display: grid; align-content: space-between;}

oda-site-footer {height: 350px; border-top:2px solid whitesmoke; box-shadow:  0 -2px 0 0 #007fc6;
    background-image:url(svg/righ-top-ornament-min.svg), linear-gradient(to right, #042e6f, #007fc6)  ;
    background-size: auto 100%; background-repeat: no-repeat; background-position: top right;  
    display: grid; grid-template-columns:1fr 1fr; grid-column-gap: 10%;
    grid-row-gap: 10%; align-items: center; padding: 0 10%;}

#soc-menu {padding-top: 20% ; text-align: right;}
#soc-menu a {border: 2px solid transparent; border-radius: 50%; margin-left: 10px; }
#soc-menu a:hover {border-color: whitesmoke; transition: all 0.5s linear;}
#soc-menu a img {border: 2px solid white;border-radius: 50%;}

.fcontent {color: whitesmoke;}

oda-site-header {padding: 2% 10% ; display: flex; grid-template-columns:1fr 1fr; 
    border-bottom:2px solid #007fc6; display: block;
}

 .content {max-width: 100%; /*background:linear-gradient(#fff, #c8ebff); */
    border-top:2px solid whitesmoke; box-shadow:  0 -2px 0 0 #007fc6;
}
.content img {max-width: 100%; height: auto 100%;}
 .content .secname { background-image:url(svg/left-lower-ornament-min.svg); 
    background-attachment: fixed;background-repeat: no-repeat; text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    height: 30vh; color: #fff; font-size:10vh ; padding: 0; margin: 0; display: grid;align-content: center; justify-content: center; }