<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../../oda.js" type="module"></script>
<script src="./html-editor.js" type="module"></script>
<oda-tester>
    <oda-html-editor id="editor" edit-mode show-preview></oda-html-editor>
</oda-tester>
<script type="module">
    editor.value = `
<style>
    h1 { color: violet; }
    .counter { font-size: 32px; color: violet; }
</style>

<oda-mnist1></oda-mnist1>

<h1>Counter demo</h1>
<span>counts: </span>
<span id="counter" class="counter">0</span>

<script type="module">
    let upto = 10;
    setInterval(() => {
        counter.innerHTML = ++upto;
    }, 100)

    import '/web/oda/oda.js'
    ODA({is: 'oda-mnist1', imports: '@oda/button', template: /*html*/ \`
            <style>
                oda-button {
                    font-size: 32px;
                    margin: 8px;
                    border: 2px solid {{color}};
                    color: {{color}};
                }
            </style>
            <oda-button @tap="restart">restart counter</oda-button>
        \`,
        color: 'blue',
        restart() {
            console.log(upto)
            upto = 0;
        }
    
    })
<\/script>
`
</script>