<meta charset="utf-8">
<oda-calculator id="calc" style="width: 500px"></oda-calculator>
<script type="module">
    import '/web/oda/oda.js';
    import './calculator.js';
    calc.data = {
        rows: [
        [
            {label: 'x!', name: '!'},
            {label: '(', predicate: ')'},
            {label: ')'},
            {label: '%', expr: '*0.01'},
            {label: '🠔', command: 'back'}
        ],
        [
            {label: 'sin', name: ' sin(', expr: ' Math.sin(',    predicate: ')'},
            {label: 7},
            {label: 8},
            {label: 9},
            {label: '/', name: ' / '}
        ],
        [
            {label: 'cos', name: ' cos(', expr: ' Math.cos(', predicate: ')'},
            {label: 4},
            {label: 5},
            {label: 6},
            {label: '*', name: ' * '}
        ],
        [
            {label: 'tan', name: ' tan(', expr: ' Math.tan(', predicate: ')'},
            {label: 1},
            {label: 2},
            {label: 3},
            {label: '-', name: ' - '}
        ],
        [
            {label: 'EXP'},
            {label: 0},
            {label: '.'},
            {label: '=', command:'calc'},
            {label: '+', name: ' + '}
        ]
    ]}
</script>