<meta charset="utf-8">
<oda-calculator id="calc" style="width: 500px;"></oda-calculator>
<script type="module">
    import '/web/oda/oda.js';
    import './calculator.js';
    calc.data = {
        cols: {
            science: {
                rows: {
                    0: {
                        buttons: {
                            "DC": {command: "digitCapacity"},
                        },
                    },
                    1: {
                        buttons: {
                            "Rad | Deg": {props:{buttonStyle: "width: 66%"}},
                            "x!": {command: "calcFactorial"},
                        },
                    }, 
                    2: {
                        buttons: {
                            Inv: {command: "invert"},
                            sin: {name: "sin(", expr: "Math.sin(", hint: ')'},
                            ln: {name: "ln(", expr: "Math.log(", hint: ')'},
                        },
                    }, 
                    3: {
                        buttons: {
                            "π": {expr: '3.14159265359'},
                            cos: {name: "cos(", expr: "Math.cos(", hint: ')'},
                            log: {name: "log(", expr: "Math.log10(", hint: ')'},   
                        },
                    },
                    4: {
                        buttons: {
                            "e": {expr: "2.71828182846"},
                            tan: {name: "tan(", expr: "Math.tan(", hint: ')'},
                            "√": {name: "√(", expr: "Math.sqrt(", hint: ')'},
                        },
                    }, 
                    5: {
                        buttons: {
                            Ans: {command: 'answer'},
                            EXP: {name: "E", expr: "*10**"},
                            "XY": {key:"<div>X<sup>y</sup></div>", name: "^", expr: "**"},
                        },
                    },
                    props: {
                        class: "layout",
                        style: 'flex-shrink: 10000000; width: 33%',
                    },
                },
            },
            numpad: {
                rows: {
                    1: {
                        buttons: {
                            "(": {hint: ')', expr: '('},
                            ")": {},
                        },

                    },
                    2: {
                        buttons: {
                            7: {},
                            8: {},
                            9: {},
                        },
                    },
                    3: {
                        buttons: {
                            4: {},
                            5: {},
                            6: {},
                        },
                    },
                    4: {
                        buttons:{
                            1: {},
                            2: {},
                            3: {},
                        },
                    },
                    5: {
                        buttons: {
                            0: {},
                            '00': {},
                            ".": {},
                        },
                    },
                    props: {
                        style: 'width: 33%'
                    },
                },
            },
            sign:{
                rows:{
                    1: {
                        buttons:{
                            "AC": {command: 'clear'},
                            "⟵": {command: 'back'},
                        },
                    },
                    2: {
                        buttons: {
                            "÷": {name: ' ÷ ', expr: '/'},
                            "%": {expr: "*0.01"},
                        },
                    },
                    3:{
                        buttons: {
                            "X": {name: ' × ', expr: '*'},
                            "-": {name: ' - ', expr: '-'},
                        },
                    },
                    4: {
                        props:{
                            style: 'flex-grow: 9',
                        },
                        buttons:{
                            "+": {name: ' + ', expr: '+'},
                            "=": {command: 'calc'},
                        },
                    },
                    props: {
                        style: "width: 50%",
                    },
                },
            },
        },
    };
</script>