<meta charset="utf-8">

<oda-layout-designer-test></oda-layout-designer-test>

<script type="module">
    import '/web/oda/oda.js';
    import './layout-designer.js';
    ODA({is: 'oda-layout-designer-test', imports: '@oda/button', extends: 'this, oda-layout-designer',
        template: `
            <style>
                :host {
                    @apply --vertical;
                    padding: 0 14px;
                }
                oda-button {
                    cursor: pointer;
                    margin: 4px;
                    padding: 4px;
                }
            </style>
            <div style="display: flex; border-bottom: 1px solid gray;">
                <div class="flex"></div>
                <oda-button ~if="designMode" icon="notification:sync" @tap="clearSavedScripts" title="reset view"></oda-button>
                <oda-button ~if="designMode" @tap="saveScripts" icon="icons:save" :fill="needSave ? 'red' : ''" :disabled="!needSave"></oda-button>
                <oda-button  :icon="designMode?'icons:close':'image:tune'" :toggled="designMode" @tap="designMode = !designMode" ~style="{fill: designMode ? 'red' : ''}" title="Перейти в режим дизайна"></oda-button>
                <oda-button @tap="document.location.reload()">Reload page</oda-button>
            </div>
        `,
        props: {
            keys: 'fields',
        },
        editTemplate: "input",
        data: {
            id: 'test-layout-designer',
            fields: [
                { name: 1, labelPosition: 'top', style: { 'background-color': 'lightyellow' } },
                { name: 2, fields: [{ name: '2.1' }, { name: '2.2' }, { name: '2.3' }, { name: '2.4' }, { name: '2.5' }, { name: '2.6' }] },
                { name: 3, template: 'oda-oda-button', props: { icon: 'icons:warning' } },
                { name: 4 },
                { name: 5 },
                { name: 6, },
                { name: 7, },
                { name: 8 },
                { name: 9 },
                { name: 10 },
                { name: 11 },
                { name: 12, fields: [{ name: '12.1' }, { name: '12.2' }, { name: '12.3' }, { name: '12.4' }, { name: '12.5' }, { name: '12.6' }] },
                { name: 13 },
                {
                    name: 14, fields: [
                        { name: '14.1' },
                        {
                            name: '14.2', fields: [
                                {
                                    name: '14.2.1',
                                    fields: [
                                        { name: '14.2.1.1', fields: [{ name: '14.2.1.1.1' }, { name: '14.2.1.1.2' }] },
                                        { name: '14.2.1.2', fields: [{ name: '14.2.1.2.1' }, { name: '14.2.1.2.2' }] },
                                        { name: '14.2.1.3' },
                                        { name: '14.2.1.4', fields: [{ name: '14.2.1.4.1' }, { name: '14.2.1.4.2', fields: [{ name: '14.2.1.4.2.1' }, { name: '14.2.1.4.2.2' }, { name: '14.2.1.4.2.3' }, { name: '14.2.1.4.2.4' }] }] },
                                        { name: '14.2.1.5' },
                                    ]
                                },
                                { name: '14.2.2' },
                                { name: '14.2.3' },
                                { name: '14.2.4' },
                                { name: '14.2.5' }],

                        },
                        { name: '14.3' },
                        { name: '14.4' },
                        { name: '14.5' },],
                },
                { name: 15 },
                { name: 16 },
                { name: 17 },
                { name: 18 },
                { name: 19 },
                { name: 20 },
            ]
        }
    })
</script>