<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="ODA Framework - designed for rapid development of websites, mobile PWAs and web applications using web components technology - https://odajs.org/" />
        <title>oda-code-editor</title>
    </head>

    <body>
        <oda-tester>
            <oda-code-editor id="editor" mode="html" theme="cobalt"max-lines="0"></oda-code-editor>
        </oda-tester>

        <script type="module">
            import '../../../oda.js';
            import './code-editor.js';
            setTimeout(() => {
                editor.src = `
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0; }
    html {
        box-sizing: border-box;
    }
    *, *::before, *::after {
        box-sizing: inherit;
    }
</style>
                `
            }, 300)
        </script>
    </body>

</html>
