<meta charset="UTF-8">
<title>oda-docx-viewer</title>
<script type="module" src="../../../oda.js"></script>
<script type="module" src="./docx-viewer.js"></script>

<input id="files" type="file" accept=".docx" style="width: 60ch; position: absolute; padding: 4px; left: 0px; top: 0px; border: 1px solid gray; z-index: 99" />
<oda-docx-viewer id="docx_viewer" src="./IT-brain.docx"></oda-docx-viewer>

<script>
    const fileInput = document.querySelector("#files");
    fileInput.addEventListener("change", ev => {
        docx_viewer.src = fileInput.files[0];
        fileInput.value = null;
    })
</script>
