<meta charset="utf-8">
<oda-tester>
    <oda-scheme-layout-test></oda-scheme-layout-test>
</oda-tester>

<script type="module">
    import '/web/oda/oda.js'
    import './scheme-layout.js'
    import '/web/oda/components/buttons/button/button.js'

    ODA({
        is: 'oda-scheme-layout-test', extends: 'oda-scheme-layout',
        template: `
        <oda-button slot="header-right" icon="editor:mode-edit" :fill="editMode?'red':''" @tap="editMode = !editMode"></oda-button>
        <div slot="header-right" class="horizontal no-flex">
            <oda-button icon="icons:zoom-in" @tap="zoomIn"></oda-button>
            <oda-button id="resetZoomButton" style="padding: 0 4px" @tap="zoom = 1" :label="Math.round(zoom * 100) + '%'"></oda-button>
            <oda-button icon="icons:zoom-out" @tap="zoomOut"></oda-button>
        </div>
        `,
        items: [
            {
                "is": "oda-button", "id": '1',
                "item": { "x": 100, "y": 180, "id": "id-1" },
                "props": {
                    "icon": "icons:extension", "fill": "blue", "iconSize": 64, "label": "1:oda-button"
                },
                "interfaces": {
                    "top": [
                        { "id": '1-t1', props:{
                            icon: 'icons:error'
                        }},
                        { "id": '1-t2', "links": [
                            {"block": "5", "pin": "3333"},
                        ]}
                    ],
                    "right": [
                        { "id": "1-r1", links:[
                            {block:'5', pin: '1'}
                        ]},
                        { "id": "1-r2", props: {}, tap(){
                                //todo что-то делаем
                                console.log('tap on 1-r2');
                            },
                            links: [
                                {"block": "2", "pin": "2-l1"},
                            ]
                        },
                        {
                            "id": "1-r3",
                            // is: 'oda-icon',  // ! если раскомментировать, то данный объект подменит собой item контейнера
                            props: {

                                my: 'dfkjlsfjl',
                                icon: 'icons:error',
                                iconSize: 30,
                                style:'background: red;',
                            },
                            tap(e) {
                                e.stopPropagation();
                                console.log('tap on 1-r3');
                            },
                            contextmenu(e) {
                                e.stopPropagation();
                                console.log('contextmenu 1-r3');
                            },
                            links: [
                                {block: '3', pin: '3-l1'}
                            ]
                    }
                    ],
                    "left": [
                        { "id": '1-l1'},
                        { "id": '1-l2', links: [
                        {block: '5', pin: '1'}
                        ]}
                    ],
                    "bottom": [
                        { "id": '1-b1'},
                        { "id": '1-b2', links: [
                            {block: '5', pin: '1'}
                        ]}
                    ],
                }
            },
            {
                "is": "oda-button", "id":"2",
                "item": { "x": 550, "y": 80, "id": "id-2" },
                "props": {
                    "icon": "icons:android", "fill": "green", "iconSize": 64, "label": "2:oda-button"
                },
                "interfaces": {
                    "top": [
                        { "id": "2-t1" },
                    ],
                    "left": [
                        {
                            "id": "2-l1",
                            "links": []
                        },

                    ],
                    "right": [
                        { "id": '2-r1'},
                        { "id": '2-r2'}
                    ],
                    "bottom": [
                        { "id": '2-b1'},
                        { "id": '2-b2', links: [
                            {block: '3', pin: '3-t1'}
                        ]}
                    ],
                }
            },
            {
                is: 'oda-button', id: '3', item: {x: 660, y: 360},
                props: {
                    label: '3:oda-button',
                    iconSize: 30
                },
                interfaces: {
                    top: [
                        {id: '3-t1'}
                    ],
                    left: [
                        {id: '3-l1'}
                    ]
                }
            }
        ],

        outerLinkTap(e) {
            console.log('outerLink tap: ', e.target.item);
        }
    });
</script>