<meta charset="utf-8">
<oda-tester>
    <oda-scheme-layout edit-mode id="layout"></oda-scheme-layout>
</oda-tester>

<script type="module">
    import '/web/oda/oda.js'
    import './scheme-layout.js'
    layout.items = [
            {
                is: "oda-button", id: 1,  x: 280, y: 180,
                props: {
                    icon: "icons:extension", fill: "blue", iconSize: 64, label: "1:oda-button"
                },
                interfaces: {
                    top: [{ props:{
                            icon: 'icons:error'
                        }}, {link: 5, pin: 2}],
                    right: [
                            {link: 5, pin: 1},
                            {link: 2, pin: 1}, {
                                props: {

                                    my: 'dfkjlsfjl',
                                    icon: 'icons:error',
                                    iconSize: 30,
                                    style:'background: red;',
                                },
                                tap(e) {
                                    e.stopPropagation();
                                    console.log('tap on 1-r3');
                                },
                                contextmenu(e) {
                                    e.stopPropagation();
                                    console.log('contextmenu 1-r3');
                                },
                            link: 3, pin: 0
                    }],
                    left: [
                        {},
                        {link: 5, pin: 1}
                    ],
                    bottom: [
                        {},
                        {link: 5, pin: 1}
                    ],
                }
            },
            {
                is: "oda-button", id: 2, x: 100, y: 30,
                props: {
                    icon: "icons:android", "fill": "green", "iconSize": 64, "label": "2:oda-button"
                },
                interfaces: {
                    top: [{}],
                    left: [{}],
                    right: [{}, {}],
                    bottom: [{}, {link: 3, pin: 1}]
                }
            }, {
                is: 'oda-button', id: 3, x: 100, y: 360,
                props: {
                    label: '3:oda-button',
                    iconSize: 30
                },
                interfaces: {
                    top: [
                        {}
                    ],
                    left: [
                        {}
                    ],
                    right: [
                        {},{}
                    ]
                }
            }
            ]
</script>