<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="../../../oda.js"></script>
<script type="module" src="./accordion.js"></script>
<oda-tester>
    <oda-accordion icon-size="64">
        <oda-accordion-item icon="odant:class" label="заголовок1">
            <div slot="accordion-item-bar">Раскрытый список</div>
            <div>10 11 12 13 14 15 16 17 18 19</div>
        </oda-accordion-item>
        <oda-accordion-item label="заголовок2">
            <div>20 21 22 23 24 25 26 27 28 29</div>
        </oda-accordion-item>
        <oda-accordion-item label="заголовок3">
            <div>30 31 32 33 34 35 36 37 38 39</div>
        </oda-accordion-item>
        <oda-accordion-item icon="odant:host" label="заголовок4">
            <div>40 41 42 43 44 45 46 47 48 49</div>
        </oda-accordion-item>
        <oda-accordion-item label="site">
            <iframe src="https://odajs.org" style="border:none;flex:1;"></iframe>
        </oda-accordion-item>
    </oda-accordion>
</oda-tester>
