<script type="module" src="../../../oda.js"></script>
<script type="module" src="./splitter2.js"></script>
<style>
    html {
        color: gray;
        font-family: Arial;
    }
    .cell {
        min-width: 100px;
        border: 1px solid gray;
        text-align: center;
    }
</style>

<div class="horizontal" style="border-bottom: 1px solid lightgray">
    <div style="display: flex; flex: 1">
        <div class="cell">Cell</div>
        <oda-splitter2 use_px></oda-splitter2>
        <div class="cell">Cell</div>
        <oda-splitter2 use_px></oda-splitter2>
        <div class="cell">Cell</div>
        <oda-splitter2 use_px></oda-splitter2>
        <div class="cell">Cell</div>
        <oda-splitter2 use_px></oda-splitter2>
        <div class="cell">Cell</div>
        <oda-splitter2 use_px></oda-splitter2>
        <div class="cell">Cell</div>
        <oda-splitter2 use_px></oda-splitter2>
    </div>
</div>
