<script type="module" src="../../../oda.js"></script>
<script type="module" src="./splitter2.js"></script>
<style>
    html {
        color: gray;
        font-family: Arial;
    }
</style>

<div style="display: flex; flex: 1">
    <div style="width: 50%; min-width: 50px">Left</div>
    <oda-splitter2 color="#cbd5e0" size="3"></oda-splitter2>
    <div style="display: flex; flex-direction: column; flex: 1; min-width: 50px">
        <div style="height: 50%; min-height: 50px">Top</div>
        <oda-splitter2 direction="horizontal" color="#cbd5e0" size="3"></oda-splitter2>
        <div style="flex: 1; min-height: 50px">Bottom</div>
    </div>
</div>
