<script type="module" src="../../../oda.js"></script>
<script type="module" src="./splitter2.js"></script>
<style>
    html {
        color: gray;
        font-family: Arial;
        width: 100%;
    }
    * {
        box-sizing: border-box;
    }
    .cell {
        min-height: 40px;
        width: 100%;
        border: 1px solid gray;
    }
    .cell2 {
        min-width: 100px;
    }
</style>

<div class="vertical no-flex">
    <div class="cell horizontal">
        <div class="cell2">Cell</div>
        <oda-splitter2></oda-splitter2>
        <div class="cell2">Cell</div>
        <oda-splitter2></oda-splitter2>
        <div class="cell2">Cell</div>
        <oda-splitter2></oda-splitter2>
        <div class="cell2">Cell</div>
        <oda-splitter2></oda-splitter2>
        <div class="cell2">Cell</div>
        <oda-splitter2></oda-splitter2>
        <div class="cell2">Cell</div>
        <oda-splitter2></oda-splitter2>
    </div>
    <oda-splitter2 direction="horizontal" use_px></oda-splitter2>
    <div class="cell">Row</div>
    <oda-splitter2 direction="horizontal" use_px></oda-splitter2>
    <div class="cell">Row</div>
    <oda-splitter2 direction="horizontal" use_px></oda-splitter2>
    <div class="cell">Row</div>
    <oda-splitter2 direction="horizontal" use_px></oda-splitter2>
    <div class="cell">Row</div>
    <oda-splitter2 direction="horizontal" use_px></oda-splitter2>
    <div class="cell">Row</div>
    <oda-splitter2 direction="horizontal" use_px size="4"></oda-splitter2>
</div>
