<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="../../../oda.js"></script>
<title>md speed</title>

<div style="margin: 4px auto; background: white; max-height: 50px; width: calc(100% - 8px); height: 100%; display: flex; flex: 1; justify-content: center; font-size: 20px; color: red; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
    <div id="_markedTime" style="padding: 12px; flex: 1">...</div>
    <div id="_result" style="padding: 12px; flex: 1">...</div>
    <div id="_markdownTime" style="padding: 12px;">...</div>
</div>
<div style="width: 100%; overflow: auto; display: flex;">
    <div id="_marked" style="width: 50%; padding: 12px;"></div>
    <div id="_markdown" style="width: 50%; padding: 12px;"></div>
</div>

<script type="module">
    import { marked } from './lib/marked/marked.esm.js';
    import * as markdown from '../markdown-wasm-viewer/lib/markdown-wasm/markdown.es.js';

    markdown.ready.then(() => {
        fetch('./sample.md').then(src => {
            src.text().then(txt => {
                _marked.innerHTML = marked.parse(txt);
                _markdown.innerHTML = markdown.parse(txt);

                let count = 1000;

                let start = performance.now();
                for (let i = 0; i < count; i++) {
                    let res = marked.parse(txt);  
                }
                let end = performance.now();
                let markedTime = Math.round(end - start);
                _markedTime.innerHTML = `Время выполнения marked : ${markedTime} мс`;

                start = performance.now();
                for (let i = 0; i < count; i++) {
                    let res = markdown.parse(txt);  
                }
                end = performance.now();
                let markdownTime = Math.round(end - start);
                _markdownTime.innerHTML = `Время выполнения markdown-wasm : ${markdownTime} мс`;

                _result.innerHTML = `Результат : marked / markdown-wasm = ${(markedTime / markdownTime).toFixed(2)}`;
            })
        })
    })

</script>
