html, body {
    height: 100%;
    width: 100%;
  }

body {
    color: #4d4e53;
    background-color: Azure;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

neuro-bird {
  display: block;
  width: 40px;
  height: 40px;
  /* position: relative; */
  overflow: hidden;
  z-index: 1;
}

.bird {
  display: block;
  width: 40px;
  height: 40px;
  z-index: 1;
  /* position: relative; */
  /* top: 100px; */
  /* left: 100px; */
  /* transform: translate3d(200px, 200px, 0) rotate(30deg); */
}

div {
  display: block;
  width: 100%;
  height: 100%;
}