<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="ODA Framework - designed for rapid development of websites, mobile PWAs and web applications using web components technology - https://odajs.org/" />
        <title>oda-pell-editor</title>
    </head>

    <body>
        <oda-tester>
            <oda-pell-editor id="editor" edit-mode syspanel></oda-pell-editor>
        </oda-tester>

        <script type="module">
            import '../../../oda.js';
            import './pell-editor.js';
            editor.src = `<h3 style="color: blue;">Pell-HTML editor ...</h3>`;
        </script>
    </body>

</html>
