<meta charset="UTF-8">
<oda-number></oda-number>
<script type="module">
    import  '/web/oda/oda.js';
    ODA({is:'oda-number',
        template:`
            <style>
                :host{
                    @apply --vertical;
                }
                input{
                    text-align: right;
                    width: 200px;
                    margin: 16px;
                }
                div{
                    align-items: center;
                }
            </style>
            <span>value: {{value}}</span>
            <span>mask:<input ::value="mask"></span>
            <div class="horizontal">
                <input @input="onInput" :value="maskedValue">
            </div>
        `,
        mask: '# 0.000',
        value: 0,
        get rounding () {
            return /0/.test(this.mask) ? this.mask.match(/(?<=\.)\d+/) ? this.mask.match(/(?<=\.)\d+/)[0].length : 0 : 0;
        },
        get maskedValue () {
            return (+this.value).toFixed(this.rounding).replace(/(?=(\d{3})+(?!\d)(?=\.))/g, " ");
        },
        onInput(e){
            const char = e.data;
            const start = e.target.selectionStart;
            const end = e.target.selectionEnd;
            switch (e.inputType) {
                case 'insertText': {
                    /\d|\./.test(char) ? this.value += char : false;
                    this.value = this.value.replace(/^0+/, '');
                } break;
                case 'deleteContentBackward': {
                    const lengthWithoutSpaces = this.maskedValue.replace(/\s/g, '').length-1;
                    const numberOfSpaces = this.maskedValue.match(/\s/g)?.length;
                    if (lengthWithoutSpaces === (start - numberOfSpaces) && this.value.length > lengthWithoutSpaces) {
                        return this.value = this.value.slice(0, lengthWithoutSpaces - this.value.length)
                    }
                    this.value = /\.$/.test(this.value) ? this.value.replace(/.{2}$/, '') : this.value.replace(/.$/, '');
                    this.maskedValue = undefined;
                } break;
                case 'deleteContentForward': {
                    this.value.splice(start, 1);
                } break;
            }
            this.maskedValue = undefined;
        }
    })
</script>