<meta charset="UTF-8">
<oda-number></oda-number>
<script type="module">
    import  '/web/oda/oda.js';
    ODA({is:'oda-number',
        template:`
            <style>
                :host{
                    @apply --vertical;
                }
                input{
                    text-align: right;
                    width: 200px;
                    margin: 16px;
                }
                div{
                    align-items: center;
                }
            </style>
            <span>value: {{value}}</span>
            <span>mask:<input ::value="mask"></span>
            <div class="horizontal">
                <input @input="onInput" :value="maskedValue">
            </div>
        `,
        mask: '# 0.000',
        value: '0',
        get thousandSeparator () {
            return /\s/.test(this.mask) ? ' ' : ''
        },
        get minInt () {
            return /0/.test(this.mask) ? this.mask.match(/\d+(?=\.)/) ? this.mask.match(/\d+(?=\.)/g)[0].length : 0 : 0; // a number of simbols before comma
        },
        get minFract () {
            return /0/.test(this.mask) ? this.mask.match(/(?<=\.)\d+/) ? this.mask.match(/(?<=\.)\d+/)[0].length : 0 : 0; // a number of simbols after comma
        },
        get maskedValue () {
            let formattedValue = '0';
            if (/(?<=\.)\d+/.test(this.mask)) {
                formattedValue = (+this.value).toFixed(this.minFract). // rounding
                    replace(/\B(?=(\d{3})+(?!\d)(?=\.))/g, this.thousandSeparator). // added digit capacity
                    padStart(this.minInt, 0); // the integer part of the number is matched to the mask
            } else {
                formattedValue = (+this.value).toFixed(this.minFract).
                    replace(/\B(?=(\d{3})+(?!\d))/g, this.thousandSeparator).
                    padStart(this.minInt, 0);
            }

            formattedValue = (formattedValue.split('.').length > 1) ?
                `${formattedValue.split('.')[0].padStart(this.minInt, 0)}.${formattedValue.split('.')[1] || ''}` :
                formattedValue.padStart(this.minInt, 0);

            if (this.input) {
                const start = this.input.selectionStart,
                      end = this.input.selectionEnd;
                this.numberOfThousandSeparators = formattedValue.slice(0, start).match(/\s/g)?.length || 0;
                if (this.numberOfThousandSeparators === (this.input?.value.match(/\s/g)?.length || 0)) {
                    this.async(() => {
                        this.input.selectionStart = start;
                        this.input.selectionEnd = end;
                    }, 10);
                }

                if (this.numberOfThousandSeparators > (this.input?.value.match(/\s/g)?.length || 0)) {
                    this.async(() => {
                        this.input.selectionStart = start+1;
                        this.input.selectionEnd = end+1;
                    }, 10);
                }

                if (this.numberOfThousandSeparators < (this.input?.value.match(/\s/g)?.length || 0)) {
                    this.async(() => {
                        this.input.selectionStart = start-1 < 0 ? 0 : start -1;
                        this.input.selectionEnd = end-1 < 0 ? 0 : end - 1;
                    }, 10);
                }
            }
            return formattedValue
        },
        onInput (e) {
            const char = e.data,
                  start = e.target.selectionStart,
                  end = e.target.selectionEnd;
            this.input = e.target;
            this.numberOfThousandSeparators = this.maskedValue.slice(0, start).match(/\s/g)?.length || 0;
            switch (e.inputType) {
                case 'insertText': {
                    this.value = this.value.replace(/^0+/, '');  // removing zeros in front of a number
                    if (this.value.match(/(?<=\.)\d+/) && this.value.match(/(?<=\.)\d+/)[0].length >= 3 && start === this.input.value.length) {
                        /\d|\./.test(char) ? this.value += char : false; // input only numbers and dots
                    } else {
                        /\d|\./.test(char) ? this.value = this.value.slice(0, end-this.numberOfThousandSeparators-1) + char + this.value.slice(end-this.numberOfThousandSeparators-1) : false;
                    }
                    try {
                        (new Function([], `with (this) {return ${this.value}}`));
                    }
                    catch (e) {
                        this.value = this.value.replace(/.$/, '');
                    }
                } break;
                case 'deleteContentBackward': {
                    const lengthWithoutThousandSeparators = this.maskedValue.replace(/\s/g, '').length-1; // number length without thousands separators
                    if (this.maskedValue.length-1 === start && this.value.length > lengthWithoutThousandSeparators) { // removing the last character from a formatted value
                        return this.value = this.value.slice(0, lengthWithoutThousandSeparators - this.value.length)
                    }
                    this.value = this.value.slice(0, start-this.numberOfThousandSeparators) + this.value.slice(end-this.numberOfThousandSeparators+1); // deletes the last character if it is not a period, and two characters if the last is a period
                } break;
                case 'deleteContentForward': {
                    this.value = this.value.slice(0, start-this.numberOfThousandSeparators) + this.value.slice(start-this.numberOfThousandSeparators+1);
                } break;
            }
        }
    })
</script>