<meta charset="UTF-8">
<oda-number></oda-number>
<script type="module">
    import  '/web/oda/oda.js';
    ODA({is:'oda-number',
        template:`
            <style>
                :host{
                    @apply --vertical;
                }
                input{
                    text-align: right;
                    width: 200px;
                    margin: 16px;
                }
                div{
                    align-items: center;
                }
            </style>
            <span>value: {{value}}</span>
            <span>mask:<input ::value="mask"></span>
            <div class="horizontal">
                <input @input="onInput" :value="maskedValue">
            </div>
        `,
        mask: '# 0.000',
        value: 0,
        get separator () {
            return /\s/.test(this.mask) ? ' ' : ''
        },
        get minInt () {
            return /0/.test(this.mask) ? this.mask.match(/\d+(?=\.)/) ? this.mask.match(/\d+(?=\.)/g)[0].length : 0 : 0; // a number of simbols before comma
        },
        get minFract () {
            return /0/.test(this.mask) ? this.mask.match(/(?<=\.)\d+/) ? this.mask.match(/(?<=\.)\d+/)[0].length : 0 : 0; // a number of simbols after comma
        },
        get maskedValue () {
            let formattedValue = 0;
            if (/(?<=\.)\d+/.test(this.mask)) {
                formattedValue = (+this.value).toFixed(this.minFract). // rounding
                    replace(/\B(?=(\d{3})+(?!\d)(?=\.))/g, this.separator). // added digit capacity
                    padStart(this.minInt, 0); // the integer part of the number is matched to the mask
            } else {
                formattedValue = (+this.value).toFixed(this.minFract).
                    replace(/\B(?=(\d{3})+(?!\d))/g, this.separator).
                    padStart(this.minInt, 0); 
            }
            formattedValue =  (formattedValue.toString().split('.').length > 1) ?
                `${formattedValue.toString().split('.')[0].padStart(this.minInt, 0)}.${formattedValue.toString().split('.')[1] || ''}` :
                formattedValue.toString().padStart(this.minInt, 0);
            if(this.input) {
                const start = this.input.selectionStart
                const end = this.input.selectionEnd
                this.async(()=>{
                    this.input.selectionStart = start;
                    this.input.selectionEnd = end;
                })
            }

            return formattedValue;
        },
        onInput (e) {
            this.input =  e.target;
            const char = e.data,
                start = e.target.selectionStart,
                  end = e.target.selectionEnd,
                  numberOfSeparators = this.maskedValue.match(/\s/g)?.length;
            switch (e.inputType) {
                case 'insertText': {
                    this.value = this.value.toString().replace(/^0+/, '');  // removing zeros in front of a number
                    /\d|\./.test(char) ? this.value = this.value + char: false; // input only numbers and dots
                    try {
                        (new Function([], `with (this) {return ${this.value}}`));
                    }
                    catch (e) {
                        this.value = this.value.replace(/.$/, '');
                    }
                } break;
                case 'deleteContentBackward': {
                    const lengthWithoutSpaces = this.maskedValue.replace(/\s/g, '').length-1; // number length without thousands separators
                    if (this.maskedValue.length-1 === start && this.value.length > lengthWithoutSpaces) { // removing the last character from a formatted value
                        return this.value = this.value.slice(0, lengthWithoutSpaces - this.value.length)
                    }
                    this.value = /\.$/.test(this.value) ? this.value.replace(/.{2}$/, '') : this.value.replace(/.$/, ''); // deletes the last character if it is not a period, and two characters if the last is a period
                } break;
                case 'deleteContentForward': {
                    this.value = this.value.slice(start+1);
                } break;
            }

        }
    })
</script>