<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/web/oda/oda.js" type="module"></script>
<script src="./monaco-editor.js" type="module"></script>
<oda-tester>
    <oda-monaco-editor id="editor"></oda-monaco-editor>
</oda-tester>
<script type="module">
    editor.theme = 'vs-dark';
    // editor.value = `// First line\nfunction hello() {\n\talert('Hello world!');\n}\n// Last line`;
    editor.value = `ODA({ is: 'oda-monaco-editor', template: /*html*/'',
    props: {
        prop1: Object,
        prop2: {
            type: String,
            default: 'vs',
            list: [
                'vs',
                'vs-dark',
                'hc-black'
            ],
            set(n, o) {
                if (this.editor) monaco.editor.setTheme(n);
            }
        }
    }
});`;
</script>