<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="../../../oda.js"></script>
<script type="module" src="./tree-list.js"></script>
<!-- <oda-tester> -->
    <oda-tree-list-demo id="listbox"></oda-tree-list-demo>
<!-- </oda-tester> -->
<script type="module">
    import '../../../oda.js';
    import './tree-list.js';
    ODA({
        is: 'oda-tree-list-demo',
        template: `<oda-tree-list :data-set="items1"></oda-tree-list>
            <oda-tree-list :data-set="items1" direction="horizontal" header-template="oda-tree-list-demo-header" footer-template="oda-tree-list-demo-footer"></oda-tree-list>
            <oda-tree-list :data-set="items2"></oda-tree-list>
            <oda-tree-list :data-set="items3" direction="horizontal" header-template="oda-tree-list-demo-header" footer-template="oda-tree-list-demo-footer"></oda-tree-list>
        `,
        props: {
            items1: [
                'string 1',
                'string 2',
                'string 3'
            ],
            items2: [
                {value: 'object value 1'},
                {value: 'object value 2'},
                {value: 'object value 3'}
            ],
            items3: [
                {name: "tree item 1", items: ["descendant 1 1", "descendant 1 2", "descendant 1 3"]},
                {name: "tree item 2", items: ["descendant 2 1", "descendant 2 2", "descendant 2 3"]}
            ]
        }
    });

    ODA({ is: 'oda-tree-list-demo-header', template: `<div style="border: 1px solid">Заголовок списка</div>` });

    ODA({ is: 'oda-tree-list-demo-footer', template: `<div  style="border: 1px solid">Подвал списка</div>` });
</script>
