
<oda-spreadsheet-editor id="editor"></oda-spreadsheet-editor>

<script type="module">
    import '../../../oda.js';
    import './spreadsheet-editor.js';
    editor.src = '[{"name":"sheet1","freeze":"A1","styles":[{"align":"center"},{"align":"center","font":{"bold":true}},{"align":"center","font":{"bold":false}},{"align":"center","font":{"bold":true,"size":16}},{"align":"center","font":{"bold":true,"size":16},"color":"#fe0000"}],"merges":[],"rows":{"1":{"cells":{"1":{"text":"Cell - B2","style":4}}},"len":100},"cols":{"1":{"width":125},"len":26},"validations":[],"autofilter":{}},{"name":"sheet2","freeze":"A1","styles":[],"merges":[],"rows":{"len":100},"cols":{"len":26},"validations":[],"autofilter":{}},{"name":"sheet3","freeze":"A1","styles":[],"merges":[],"rows":{"len":100},"cols":{"len":26},"validations":[],"autofilter":{}}]';
</script>
