<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="module" src="./tabs.js"></script>
<!--<oda-tester>-->
    <oda-tabs id="menu"></oda-tabs>

<!--</oda-tester>-->
<script type="module">
    menu.items = [
        { label: "1 строка", },
        { label: "2 строка", icon: 'icons:add', disabled: true },
        { label: "3 строка - pinned", icon: 'icons:settings', pinned: true },
        { label: "4 строка" },
        { label: "5 строка", },
        { label: "6 строка - pinned", pinned: true },
        { label: "7 строка", },
        { label: "8 строка" },
        { label: "9 строка" },
        { label: "10 строка" },
    ]
</script>
